{% extends "base.html" %} {% block content %}
<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">About Footprint</h1>
                <p class="lead text-muted mb-0">
                    Footprint is a travel journal app to document your trip. Travelers can use it to create digital
                    logs, which enhance your text with photos and maps marking all of the places you visited, with the
                    option to keep entries private or share them with family and friends. The app also allows users to
                    share their logs and find logs posted by other travelers all over the world. Wanna have a try? Sign
                    up now!
                </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt=""
                    class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Developer Journal</h2>
                <p class="font-italic text-muted mb-4">
                    We started Footprint as a course project for 17-637 in 2021 Spring and got a bunch of experience in
                    Django, Ajax and front-end. We took advantage of Codepen, Bootstrap, Stackoverflow, and other useful
                    online resources. Thank you to everyone who selflessly share their programming knowledge. It's
                    already a great journey for us!
                </p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Share Feedback</h2>
                <p class="font-italic text-muted mb-4">
                    Thank you for visiting our website. We hope you find it interesting and would be very glad to answer
                    any questions. We know this project is not perfect. If you'd like to share your ideas or suggestions
                    with us, feel free to contact our team!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted">Team 21</p>
            </div>
        </div>

        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://www.flaticon.com/svg/vstatic/svg/3969/3969743.svg?token=exp=1619675719~hmac=250c17745bd9f5b9ecdd001dde6e9392"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Fanghan Lei</h5>
                    <span class="small text-uppercase text-muted">Web Developer</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="#" class="social-link">
                                <iclass="fa fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://www.flaticon.com/svg/vstatic/svg/3969/3969733.svg?token=exp=1619675719~hmac=a8a2acf7eb6bd1f25deaae4028784b71"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Jiaoying Mu</h5>
                    <span class="small text-uppercase text-muted">Web Developer</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="#" class="social-link">
                                <iclass="fa fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://www.flaticon.com/svg/vstatic/svg/3969/3969793.svg?token=exp=1619675719~hmac=e156d65f853d6e15eaaa5d191fb3020b"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Kester Zhou</h5>
                    <span class="small text-uppercase text-muted">Web Developer</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="#" class="social-link">
                                <iclass="fa fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://www.flaticon.com/svg/vstatic/svg/3969/3969735.svg?token=exp=1619675719~hmac=306aa151afdf5e0c3af7f0ea849e717a"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Shiyi Liu</h5>
                    <span class="small text-uppercase text-muted">Web Developer</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="#" class="social-link">
                                <iclass="fa fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

        </div>
    </div>
</div>
{% endblock %}